/* MAIN HOMEPAGE SLIDES  */

.homepage-slides {
	width: 100vw; 
	background-color: #eee;
	display: flex;
	flex-direction: row;
	margin: 0 auto; 
	height: 85vh; 
	padding: .5rem 0;

}

.slide {
	color: white;
	font-weight: 200;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	word-spacing: 2px;
	text-align: center;
	margin: 0 .5rem;
}

.slide-potential {
	display: flex;
	flex: 1; 
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/journey-ice-mountain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide-craft {
	display: flex;
	flex: 1; 
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/carl-jorgensen-b-XlruJ1Oxo-unsplash.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 0; 
}

.slide-team {
		display: flex;
		flex: 1; 
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/team.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;
}

.slide-team img {
	width: 100px; 
}

.homepage-testimonial {

}

.homepage-testimonial img {
	width: 5rem; 
	border-radius: 50%;
	filter: grayscale();
}


         /* NEXT STEPS SECTION */
.get-started-button {
	justify-content: center;
	border: 1px solid lime;
}


		 /* GENERAL INFO SECTION  */
		 
.tool-logo img {
	width: 10rem; 
	height: auto;
}