/* MAIN JUMBOTRON SLIDES  */

.jumbotron {
	width: 100vw; 
	background-color: black;
	display: flex;
	flex-direction: row;
	margin: 0 auto; 
	height: 90vh; 
}

.slide {
	color: white;
	font-weight: 200;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	word-spacing: 2px;
}

.slide-potential {
	display: flex;
	flex: 1; 
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/journey-ice-mountain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

/* .slide-potential img {
	width: 100%; 
	height: auto; 
} */

.slide-craft {
	display: flex;
	flex: 1; 
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/team.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat;
}

.slide-team {
		display: flex;
		flex: 1; 
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/journey.jpg');
		background-size: cover;
		background-repeat: no-repeat;
}

.slide-team img {
	width: 100px; 
}

.signup-button {
	display: flex; 
	flex-direction: row;
	justify-content: center;
}
