.products-section {
    width: 60%; 
    height: 80vh; 
}

.showcase-row {
    display: flex; 
    flex-direction: row;
    border: 1px solid var(--yellow); 
    height: 33%;
    justify-content: center;
}

.service-option {
    align-content: center;
    width: 30%; 
    border: 1px solid var(--navbar-black); 
}

.service-picture {
    width: 100px; 
    height: 100px; 
}